#home-page {
    /*background: url(../img/back.png);*/
    background-color: #e3dedb;
    background-size: 60px 60px;
}
#result-page {
    background-color: #FFF;
}
nav {
    background-color: #aa4400;
    height: auto;
}
#home-page nav, #result-page nav {
    background-color: #CF5403;
}
.nav-bar {
    padding-top: 0;
}
.btn-left {
    float: left;
    margin-left: 4px;
    margin-bottom: 4px;
}
.btn-right {
    float: right;
    margin-right: 4px;
    margin-bottom: 4px;
}
.nav-bar .btn-left {
    margin: 0 0 4px 4px;
    float: left;
    margin-bottom: 0px !important;
}
.nav-bar .btn-right {
    margin: 0 4px 0 0;
    float: right;
    margin-bottom: 0px !important;
}
nav .ui-link {
    margin: 0 !important;
    padding: 4px 8px 0 0;
    height: 100%;
    box-shadow: none !important;
    border-radius: 0 !important;
}
nav .nav-wrapper i {
    font-size: 1.2rem;
}
.btn, .btn-floating {
    background-color: #aa4400;
    color: #FFF;
    font-size: 10px;
}
.attrib {
    font-weight: bold;
    display: inline-block;
    width: 100px;
    text-align: left;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    margin-right: 10px;
}
.container {
    width: 95%;
}
.ui-page-theme-a {
    text-shadow: none;
}
.ui-page-theme-a a {
    color: #FFF;
    font-weight: normal;
}
.ui-page-theme-a a:hover {
    color: #fff;
}
.ui-page-theme-a a:visited {
    color: #fff;
}
#update {
    width: auto;
    padding: 0 6px;
    right: 5px;
    top: 5px;
    position: absolute
}
#browse {
    font-size: 10px;
    padding: 6px 6px;
    left: 5px;
    top: 5px;
    position: absolute
}
.result-link {
    color: #707070 !important;
    display: block;
    width: 100%;
}
.result-link span {
    text-transform: uppercase;
}
.result-link p {
    margin: 0;
}
.result-nav-btn {
    line-height: 35px !important;
}
.title-name {
    font-size: 14px;
    text-transform: lowercase !important;
}
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #aa4400;
    box-shadow: 0px 1px 0px 0px #aa4400;
}
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #aa4400;
}
i.left {
    margin-right: 4px;
}
.drug-heading {
    font-size: 1.2rem;
    font-weight: bold;
}
#drug-title {
    text-align: center;
    color: #aa4400;
    font-size: 2.3rem;
    line-height: 2.2rem;
}
.logo-heading {
    text-align: center;
    color: #aa4400;
}
.search-type.right {
    float: right;
}
.left {
    float: left;
}
.main-search {
    margin-top: 26px;
}
.search {
    margin-bottom: 0 !important;
}
.search-type {
    width: 48%;
    padding: 0;
    background-color: #CAD2F9;
    color: #999FBF !important;
    box-shadow: none;
}
.search-type:hover {
    color: #fff !important;
    background-color: rgb(84, 111, 255);
}
.search-type:focus {
    background-color: rgb(84, 111, 255);
}
.chosen {
    color: #FFF !important;
    text-shadow: 1px 1px 1px;
}
.search-btn {
    width: 100%;
    background-color: #aa4400;
}
#s-drug-brand {
    text-transform: uppercase;
}
#s-drug-name {
    text-transform: lowercase;
}
.input-field input[type="search"] {
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 17px;
}
#keywords li {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #aa4400;
    color: #FFF;
    margin: 0 4px;
}

@media all and (orientation: landscape) {
    #drug-title {
        margin-top: 60px;
    }
}

@media all and (orientation: portrait) {
    #drug-title {
        margin-top: 30%;
    }
}
.popup-trigger {
    position: relative;
    z-index: 100;
    padding: 4px;
    display: inline-block;
}
.overlay {
    z-index: 9999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
}
.popup {
    display: none;
    min-width: 160px;
    padding: 10px 14px;
    border-radius: 6px;
    background-color: #000;
    color: #FFF;
    position: absolute;
    bottom: 60px;
    background: #000;
}
.switch label .lever {
    background-color: #c8beb7;
    margin: 0 8px;
}
.switch label {
    margin-bottom: 0 !important;
}
.switch label .lever::after {
    background-color: #F29158;
}
.switch label input[type="checkbox"]:checked + .lever {
    background-color: #c8beb7;
}
.switch label input[type="checkbox"]:checked + .lever::after {
    background-color: #F29158;
}
.switch {
    position: relative;
}
#main-stuff .btn-floating {
    width: 42px;
    height: 42px;
}
.search-btn span {
    font-size: 16px;
}
.stripy {
    background-color: #FFF2EA !important;
}
#drug-page .collection .collection-item {
    padding: 2px 20px;
    font-size: 12px;
}
.btn:hover, .btn-large:hover, .btn:active, btn-large:active, .btn:focus, .btn-large:focus {
    background-color: #aa4400;
}
.single-object:hover {
    background-color: #EAEAEA;
}
.single-object:focus {
    background-color: #FFF;
}
.search-back {
    padding-top: 10px !important;
    position: absolute;
    max-height: 100%;
    top: 0px;
    left: 4px;
}
.search-back:hover, .search-back:focus, .search-back:active {
    color: #fff;
}
.search-reset {
    position: absolute;
    top: 0;
    right: 12px;
    cursor: pointer;
    color: #CF5403;
}
.input-field input[type="search"]:focus ~ .search-reset {
    color: #444;
}