# Mac
.DS_Store

# Node
npm-debug.log
node_modules
platforms
# iOS
CordovaSource/platforms/ios/build/
platforms/ios/www/
platforms/ios/cordova/console.log
*.xcuserdatad
CordovaSource/platforms/ios

# android
/platforms/android/assets/www/*.html
platforms/android/bin/**
platforms/android/gen/**
platforms/android/local.properties
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/CordovaLib/ant-build
platforms/android/CordovaLib/ant-gen
platforms/android/CordovaLib/bin
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/local.properties

# wp8
CordovaSource/platforms/wp8/bin
CordovaSource/platforms/wp8/obj
CordovaSource/platforms/wp8/www
CordovaSource/platforms/wp8/.staging
CordovaSource/platforms/wp8/*.suo
CordovaSource/platforms/wp8/*.csproj.user

# res
resources/signin
platforms/android/assets/www/css/*.css
platforms/android/assets/www/js/index.js
platforms/android/assets/www/js/index.js
platforms/android/assets/www/index.html